<div mat-dialog-title>
    <h1>Add new employee</h1>
</div>
<form [formGroup]="employeeForm" (ngSubmit)="onSave()">
    <div mat-dialog-content class="content">
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>First name:</mat-label>
                <input matInput type="text" placeholder="FirstName" formControlName="firstName">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Last Name:</mat-label>
                <input matInput placeholder="LastName" formControlName="lastName">
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Email:</mat-label>
                <input matInput type="email" placeholder="email@example.com" formControlName="email">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Address:</mat-label>
                <input matInput type="text" placeholder="Address" formControlName="address">
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Age:</mat-label>
                <input matInput type="number" placeholder="Age" formControlName="age">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Dob:</mat-label>
                <input matInput type="text" placeholder="Dob" formControlName="dob">
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>contactNumber:</mat-label>
                <input matInput type="text" placeholder="contact number" formControlName="contactNumber">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>salary:</mat-label>
                <input matInput type="number" placeholder="salary" formControlName="salary">
            </mat-form-field>
        </div>
    </div>
    <div mat-dialog-actions class="action-btns">
        <button mat-raised-button color="primary" type="submit">Save</button>
        <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
    </div>
</form>